.about-c
    width: 100%
    min-height: 100vh
    background: #383838
    display: flex
    box-sizing: border-box
    padding: 20px


@media screen and (max-width: 1250px)
    .about-c
        display: flex
        flex-direction: column
        margin-left: 115px
    .main-mobile-header-na, .main-header
        min-height: calc(100vh)
        position: fixed !important
    .btn-mbl-tgl-c
        min-height: calc(100vh)
        position: fixed !important
@media screen and (max-width: 500px)
    .about-c
        margin-left: 20px
        padding-top: 60px
        padding-left: 50px
@media screen and (max-width: 300px)
    .about-c
        display: flex
        flex-direction: column
        padding-left: 0
        padding-right: 0