.about-c
    width: 100%
    min-height: 100vh
    background: #383838
    display: flex
    box-sizing: border-box
    padding: 20px
.about-info-c, .about-tech-c
    width: 50%
.html-txt
    margin-left: 40px
    font-size: 1rem
    font-family: OoohBaby-Regular
    color: #ffffff6b
    cursor: default
    user-select: none
.about-title
    margin: 20px 0 20px 80px
    font-family: FjallaOne-Regular
    font-size: 6rem
    color: #15f7f7
    cursor: default
.about-text
    max-width: 600px
    margin: 20px 0 20px 120px
    font-family: FjallaOne-Regular
    font-size: 1.2rem
    line-height: 30px
    color: #ffffff
    cursor: default     
.about-info-c
    display: flex
    flex-direction: column
    justify-content: center
.about-tech-c
    display: grid
    grid-template-columns: repeat(3, 200px)
    gap: 10px
    grid-auto-rows: minmax(100px, auto)
    padding: 20px
    box-sizing: border-box
    span
            align-items: center
            text-align: center
.tech-c
    display: flex
    align-items: center
    justify-content: center


.tech-css
    color: #1572B6
.tech-sass
    color: #CD6799
.tech-node
    color: #83CD29
.tech-react
    color: #62DAFB
.tech-redux
    color: #764ABC
.tech-express
    color: #ACE074
.tech-html
    color: #E44F26
.tech-mongodb
    color: #439934
.tech-mysql
    color: #E48E00
@media screen and (max-width: 1250px)
    .about-c
        display: flex
        flex-direction: column
        margin-left: 115px
    .about-info-c, .about-tech-c
        width: 100%
        justify-content: center
    .about-tech-c
        grid-template-columns: repeat(2, 150px)
    .about-text
        margin: 20px 0 20px 100px
    .about-title
        font-size: 3rem
        margin: 20px 0 20px 40px
    .main-mobile-header-na, .main-header
        min-height: calc(100vh)
        position: fixed !important
    .btn-mbl-tgl-c
        min-height: calc(100vh)
        position: fixed !important
    .html-txt
        margin-left: 35px
@media screen and (max-width: 500px)
    .about-title
        font-size: 2rem
    .about-c
        margin-left: 20px
        padding-top: 60px
        padding-left: 50px
    .about-text
        margin: 20px 0 20px 60px
        font-size: 1rem
    .about-tech-c
        grid-template-columns: repeat(1, 1fr)
        gap: 10px
        grid-auto-rows: minmax(100px, auto)
        padding: 20px
        box-sizing: border-box
@media screen and (max-width: 300px)
    .about-c
        display: flex
        flex-direction: column
        padding-left: 0
        padding-right: 0
    .about-text
        box-sizing: border-box
        padding: 15px
        margin: 20px 0 20px 30px
        font-size: 1rem
    