.about-info-c, .about-tech-c {
  width: 50%;
}

.html-txt {
  margin-left: 40px;
  font-size: 1rem;
  font-family: OoohBaby-Regular;
  color: #ffffff6b;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about-title {
  margin: 20px 0 20px 80px;
  font-family: FjallaOne-Regular;
  font-size: 6rem;
  color: #15f7f7;
  cursor: default;
}

.about-text {
  max-width: 600px;
  margin: 20px 0 20px 120px;
  font-family: FjallaOne-Regular;
  font-size: 1.2rem;
  line-height: 30px;
  color: #ffffff;
  cursor: default;
}

.about-info-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1250px) {
  .about-info-c {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-text {
    margin: 20px 0 20px 100px;
  }

  .about-title {
    font-size: 3rem;
    margin: 20px 0 20px 40px;
  }

  .html-txt {
    margin-left: 35px;
  }
}
@media screen and (max-width: 500px) {
  .about-title {
    font-size: 2rem;
  }

  .about-text {
    margin: 20px 0 20px 60px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 300px) {
  .about-text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    margin: 20px 0 20px 30px;
    font-size: 1rem;
  }
}