.music-c {
  position: absolute;
  top: 20px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.music-span {
  font-size: 1.2rem;
  font-family: OoohBaby-Regular;
  color: #fff;
}

.music-status-spn {
  margin: 0 5px;
  font-family: OoohBaby-Regular;
}

.music-icon {
  width: 20px;
}

.played-true {
  font-size: 1.2rem;
  color: #6fff8e;
}

.played-false {
  font-size: 1.2rem;
  color: #ff6262;
}