.loading__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100%);
    box-sizing: border-box;
    background: #1d1d1dea;
}

.loading__container img {
    height: 15%;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite
}

.loading__container h1 {
    margin-top: 50px; 
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5rem;
    color: #000000;
}


h1 .dot3 {
    animation-name: dot3;
    animation-duration: 2s;
    animation-iteration-count: infinite

}

@keyframes loading {
    from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
}

@keyframes dot1 {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
}

@keyframes dot2 {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
}

@keyframes dot3 {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
}

@media screen and (max-width: 400px) {
  .loading__container {
    margin-left: 30px
  }
}