.home-c {
  background: #383838;
  max-height: 100%;
  width: 100%;
  color: #fff;
}

@media screen and (max-width: 1250px) {
  .home-c {
    margin-left: 130px;
  }
}
@media screen and (max-width: 500px) {
  .home-c {
    margin-left: 0px;
  }
}
@media screen and (max-width: 320px) {
  .greeting-c {
    margin-left: 40px;
  }
}